
blockquote { border-color: #ddd; }

div#header { background: transparent url('../images/bg-header.png') top left repeat-x; }
div#header div.box-title h1 a { background: transparent url('../images/site-name.png') top left no-repeat; }
div#header div.box-title p { background: transparent url('../images/site-description.png') bottom left no-repeat; }

div.box-search input { color: #632d0c; background: transparent url('../images/input-search.png') top left no-repeat; border-color: none; }
div.box-search button { background: transparent url('../images/button-search.png') top left no-repeat;  }

div#body { background: #e9e9e9 url('../images/bg-body.gif') top left repeat-x; }

div#padd-featured { background: transparent url('../images/bg-content-mid.gif') top center repeat-y; }

div.post-group-title { background: transparent url('../images/bg-content-mid.gif') top center repeat-y; }

div.post { background: transparent url('../images/bg-content-mid.gif') top center repeat-y; }

div.post-index img.header { background: #f1f1f1 none; }

div.post-top { background: transparent url('../images/bg-content-top.gif') top center no-repeat; }
div.post-bot { background: transparent url('../images/bg-content-bot.gif') bottom center no-repeat; }

div.post-box-title { background: transparent url('../images/border-post-box-title.gif') bottom left repeat-x; }
div.post-box-about-author h3 { background: transparent url('../images/icon-author.gif') center left no-repeat; }
div.post-box-sb h3 { background: transparent url('../images/icon-spread-love.gif') center left no-repeat; }
div.post-box-related h3 { background: transparent url('../images/icon-related-posts.gif') center left no-repeat; }
div.post-box-comments h3 { background: transparent url('../images/icon-comments.gif') center left no-repeat; }
div.post-box-trackbacks h3 { background: transparent url('../images/icon-trackbacks.gif') center left no-repeat; }
div.post-box-reply h3 { background: transparent url('../images/icon-comment-add.gif') center left no-repeat; }

li.odd div.comment-details-interior { background: transparent url('../images/bg-comment-even-detail.gif') center left repeat-y; }
li.odd div.comment-details-interior div.tb { background: transparent url('../images/bg-comment-even-detail-tb.gif') top left no-repeat; }
li.odd div.comment-details-interior-wrapper { background: transparent url('../images/bg-comment-even-callout.gif') top left no-repeat; }

li.even div.comment-details-interior { background: transparent url('../images/bg-comment-odd-detail.gif') center left repeat-y; }
li.even div.comment-details-interior div.tb { background: transparent url('../images/bg-comment-odd-detail-tb.gif') top left no-repeat; }
li.even div.comment-details-interior-wrapper { background: transparent url('../images/bg-comment-odd-callout.gif') top left no-repeat; }

form#comment-form p.input input { color: #000; background: #f4f2ef none; border-color: #ddd; }
form#comment-form textarea { color: #000; background: #f4f2ef none; border-color: #ddd; }
form#comment-form button { background: transparent url('../images/button-comments-submit.gif') left top no-repeat; }

div#sidebar div.box h2 { color: #333; }

div#sidebar div.box ul, div#sidebar div.box ol { }
div#sidebar div.box li { background: #fff url('../images/bg-box-list-item.gif') 8px 12px no-repeat; border-bottom-color: #d0d0d0; }

div#sidebar div.box-subscribe ul li { background: #fff none; }
div#sidebar div.box-subscribe ul li.rss { background: #fff url('../images/icon-small-rss.png') 10px center no-repeat; }
div#sidebar div.box-subscribe ul li.twitter { background: #fff url('../images/icon-small-twitter.png') 10px center no-repeat; }
div#sidebar div.box-subscribe ul li.facebook { background: #fff url('../images/icon-small-facebook.png') 10px center no-repeat; }

div#sidebar div.widget_tag_cloud div.box-interior div { border-color: #867d67; background: #f0ebe2 none; }
div#sidebar div.widget_tag_cloud div.box-interior div a { color: #5c5443; }

div#flickrrss img { background: #fff none; }

div#footer h2 { color: #fff; }
div#footer div.footer-box div.footer-interior { color: #2d2620; }
div#footer div.footer-box div.footer-interior a { color: #fff; }

div#footer-content { background: #d66018 url('../images/border-footer-content.gif') top center repeat-x; }

div.footer-recent-comments ul li { background: transparent url('../images/bg-footer-list-item.gif') 4px 13px no-repeat; }

div.footer-twitter { background: transparent url('../images/bg-footer-boundary-side.png') top right no-repeat; }
div.footer-twitter p.follow { background: transparent url('../images/bg-animal-twit.png') center left no-repeat; }

div.footer-about { background: transparent url('../images/bg-footer-boundary-side.png') top left no-repeat; }
div.footer-about div.link-top { background: transparent url('../images/bg-go-to-top.png') top left no-repeat; }

div#footer-final { background: #2d2620 url('../images/border-footer-final.gif') top center repeat-x; color: #51463d; }
div#footer-final a { color: #51463d; }

