/*
Section: Layout
*/

body { margin: 0; padding: 0; }
form { margin: 0; padding: 0; display: block; }
blockquote { margin: 0; padding: 1em 3em; border: solid 1px; }

.no-display { display: none; }
.clearer { clear: both; }

div#container { margin: 0; padding: 0; width: 100%; }

div#header { height: 134px; }
div#header-wrapper { margin: 0 auto; width: 980px; }

div#header div.box h2 { display: none; }

div#header div.box-group-0 { position: relative; height: 83px; top: 51px; }
div#header div.box-group-1 { position: relative; height: 51px; top: -83px; }

div#header div.box-title { height: 83px; float: left; }
div#header div.box-title h1 { display: block; margin: 0; padding: 0; width: 173px; float: left; }
div#header div.box-title h1 a { display: block; margin: 0; padding: 0; width: 173px; height: 83px; text-indent: -999999px; }
div#header div.box-title p { display: block; margin: 0; padding: 0; width: 300px; float: left; height: 83px; text-indent: -999999px; }

div#header div.box-mainmenu { height: 83px; float: right; }
div#header div.box-mainmenu ul { float: right; height: 83px; margin: 0; padding: 0; list-style-type: none; }

div#header div.box-categories { height: 51px; float: left; }

div#header div.box-search { height: 51px; float: right; }
div#header div.box-search p { display: block; margin: 0; padding: 9px 0 0 0; }
div#header div.box-search input { border: 0 none; margin: 0; padding: 8px 10px 8px 10px; width: 124px; float: left; }
div#header div.box-search button { border: 0 none; margin: 0; padding: 0; width: 79px; height: 31px; float: left; }
div#header div.box-search button span { visibility: hidden; }

div#body { padding: 32px 0 0 0; }
div#body-wrapper { width: 980px; margin: 0 auto; padding: 0; }

div#content { width: 690px; float: left; margin: 0; padding: 0; }

div#padd-featured { margin: 0 0 26px 0; }
div#padd-featured h2 { display: none; }
div#padd-featured div.interior { margin: 0 auto; width: 630px; padding: 15px 30px; }
div#padd-featured ul { display: block; list-style-type: none; margin: 0; padding: 0; }
div#padd-featured ul li { display: block;  margin: 0; padding: 0; }
div#padd-featured ul img { border: 0 none; }

div.post-top, div.post-bot { height: 15px; }

div.post-group-title { padding: 0 30px; margin: 0 0 26px 0; }
div.post-group-title div.post-top { padding: 15px 0 0 0; margin: 0 -30px; }
div.post-group-title div.post-bot { padding: 0 0 15px 0; margin: 0 -30px; }
div.post-group-title h2 { display: block; margin: 0; padding: 0; text-align: center }

div.post-group-index-title { display: none; }

div.post { padding: 0 30px; margin: 0 0 26px 0; }
div.post img.header { float: left; margin: 0 25px 0 0; padding: 5px; border: 0 none; }
div.post h2 { display: block; margin: 0; padding: 0; }

div.post div.post-top { padding: 15px 0 0 0; margin: 0 -30px; }
div.post div.post-bot { padding: 0 0 15px 0; margin: 0 -30px; }

div.post-index div.post-entry { margin: 0 0 0 150px; }

div.post-error div.post-title { margin: 0; }
div.post-error div.post-entry { margin: 0; padding: 0 0 50px 0; }

div.post-box { padding: 24px 0; }
div.post-box-title { padding: 0 0 10px 0; }
div.post-box h3 { display: block; margin: 0; padding: 0 0 0 42px; }
div.post-box div.post-box-interior { margin: 15px 0 0 0; }

div.post-box-about-author img { float: left; margin: 0 10px 0 0; }

div.post-box-sb div.post-box-interior { height: 72px; min-height: 72px; }
div.post-box-sb div.post-box-interior ul { display: block; list-style: none; margin: 11px 0 0 36px; padding: 0; }
div.post-box-sb div.post-box-interior ul li { display: block; margin: 10px 15px 0 0; padding: 0; float: left; }
div.post-box-sb div.post-box-interior ul li.icon-tweetmeme-mini { margin: 18px 0 0 0; }
div.post-box-sb div.post-box-interior ul li a { display: block; float: left; }
div.post-box-sb div.post-box-interior ul li a img { border: 0 none; }

div.post-box-comments { padding: 24px 0; }
ol.comments-list { display: block; list-style: none; margin: 0; padding: 0; }
ol.comments-list li.comment { display: block; list-style: none; margin: 0; padding: 0 0 25px 0; }

div.comment div.comment-author { width: 80px; float: left; }
div.comment div.comment-author img { margin: 0 0 10px 0; }
div.comment div.comment-author span { display: block; margin: 0 0 2px 0; }
div.comment div.comment-details-interior { width: 380px; float: left; margin: 0 0 0 20px; }
div.comment div.comment-details-interior div.tb { height: 1px; }
div.comment div.comment-details-interior-wrapper { padding: 0 20px 0 50px; min-height: 45px; }

div.comment div.comment-details-interior ol, div.comment div.comment-details-interior ul { padding-top: 1em; padding-bottom: 1em; }

div.post-box-trackbacks { padding: 24px 0; }
ol.trackbacks-list { margin: 0 0 0 3em; padding: 0; }

div.post-box-reply { padding: 24px 0 0 0; }
div.post-box-reply p.cancel-comment-reply { float: right; margin: -1em 0 0 0; }

form#comment-form { display: block; margin: 0; padding: 0; }
form#comment-form p { display: block; margin: 0 0 20px 0; padding: 0; line-height: 27px; }
form#comment-form p.input label { display: none; }
form#comment-form p.input input { width: 390px; padding: 10px; border: 1px solid; }
form#comment-form p.textarea { display: block; margin: 5px 0 10px 0;  }
form#comment-form p.textarea label { display: none; }
form#comment-form p.button { display: block; text-align: left; float: right; margin: 0; padding: 0; }
form#comment-form p.subscribe-to-comments { margin: 0; padding: 0; float: left; }
form#comment-form textarea { width: 568px; height: 148px; padding: 5px 10px; border: 1px solid; }
form#comment-form button { display: block; width: 109px; height: 40px; margin: 0; padding: 0; float: right; border: 0; cursor: pointer; }
form#comment-form button span { display: none; }

div#sidebar { width: 250px; float: right; margin: 0; padding: 0 0 30px 0; }

div#sidebar div.box { margin: 0 0 20px 0; padding: 0; }
div#sidebar div.box h2 { display: block; margin: 0; padding:  0 0 10px 0; }
div#sidebar div.box div.box-interior { }
div#sidebar div.box div.box-interior-wrapper { padding: 0; }

div#sidebar div.box ul, div#sidebar div.box ol { display: block; list-style: none; margin: 0; padding: 0; }
div#sidebar div.box li { display: block; list-style: none; margin: 0 0 7px 0; padding: 8px 8px 8px 20px; border-bottom: 1px solid; }

div#sidebar div.box-subscribe {  }
div#sidebar div.box-subscribe ul li { padding-left: 50px; line-height: 30px; }

div#sidebar div.box-ads h2 { display: none; }
div#sidebar div.box-ads div.box-interior { text-align: center;  }
div#sidebar div.box-ads div.box-interior img { border: 0 none; vertical-align: top; }
div#sidebar div.box-ads div.box-interior div.ads0 { padding: 0 0 3px 0; }

div#sidebar div#flickrrss div.box-interior-wrapper { height: 170px; }
div#sidebar div#flickrrss a { display: block; float: left; margin: 0 7px 7px 0; }
div#sidebar div#flickrrss img { border: 0 none; }

div.widget_tag_cloud div.box-interior div { display: block; list-style: none; margin: 0; padding: 15px 25px 10px 25px; border: 1px solid; }

div#footer-wrapper { padding: 2px 0 0 0; }

div#footer-content { }
div#footer-content-wrapper { width: 980px; margin: 0 auto; }

div.footer-box { margin: 42px 0 0 0; float: left; padding: 0 0 10px 0; }
div.footer-box h2 { display: block; height: 37px; margin: 0; padding: 0; }

div.footer-twitter { width: 273px; }
div.footer-recent-comments { width: 253px; padding: 0 18px 20px 38px; }
div.footer-about { display: block; width: 352px; padding: 0 0 0 46px; }

div.footer-recent-comments ul { display: block; list-style-type: none; margin: 0; padding: 0; }
div.footer-recent-comments ul li { display: block; margin: 0; padding: 5px 0; text-indent: 15px; }

div#footer-final-wrapper { width: 980px; margin: 0 auto; height: 46px; }

div#footer-final p { display: block; margin: 0; padding: 0; height: 46px; }
div#footer-final p.copyright { float: left; }
div#footer-final p.annotation { float: right; }

