

div.box-categories h2 { display: none; }
div.box-categories ul { 
	display: block; margin: 0; padding: 0; height: 51px; 
}
div.box-categories ul li { 
	display: block; margin: 0 20px 0 0; padding: 0; float: left; height: 51px;
}
div.box-categories ul li a:link,  div.box-categories ul li a:visited {
	font: bold 12px/45px Arial,sans-serif; color: #666;
	color: #796656;
	display: block; margin: 0; padding: 0; height: 51px; line-height: 51px;
	text-decoration: none;
}
div.box-categories ul li a:hover {
	color: #fff;
}
div.box-categories ul li a:active, div.box-categories ul li.current-cat a:link, 
div.box-categories ul li.current-cat a:visited {
	color: #d66018;
}

div#mainmenu ul {
	display: block; margin: 0; padding: 12px 0 0 0; height: 76px;
}
div#mainmenu ul li {
	display: block; margin: 0 12px 0 0; padding: 0; float: left; height: 76px;
}
div#mainmenu ul li a:link, div#mainmenu ul li a:visited {
	display: block; margin: 0; padding: 0; height: 76px;
	font: normal 11px/15px Arial,sans-serif;
	text-decoration: none; color: #2d2c2c; text-transform: uppercase;
}
div#mainmenu ul li a:link span.l, div#mainmenu ul li a:visited span.l {
	display: block; margin: 0; padding: 0 0 0 10px; height: 76px;
	background: transparent url('../images/bg-navi-item-l.png') top left no-repeat;
}
div#mainmenu ul li a:link span.r, div#mainmenu ul li a:visited span.r {
	display: block; margin: 0; padding: 0 10px 0 0; height: 76px;
	background: transparent url('../images/bg-navi-item-r.png') top right no-repeat;
}
div#mainmenu ul li a:link span.c, div#mainmenu ul li a:visited span.c {
	display: block; margin: 0; padding: 41px 0 20px; height: 15px;
	background: transparent url('../images/bg-navi-item-c.png') top left repeat-x;
	color: #2d2c2c;
}

div#mainmenu ul li a:hover, div#mainmenu ul li a:active, 
div#mainmenu ul li.current_page_item a:link, div#mainmenu ul li.current_page_item a:visited {
	color: #e4f3f5;
}
div#mainmenu ul li a:hover span.l, div#mainmenu ul li a:active span.l,
div#mainmenu ul li.current_page_item a:link span.l, div#mainmenu ul li.current_page_item a:visited span.l {
	background: transparent url('../images/bg-navi-item-l.png') bottom left no-repeat;
}
div#mainmenu ul li a:hover span.r, div#mainmenu ul li a:active span.r,
div#mainmenu ul li.current_page_item a:link span.r, div#mainmenu ul li.current_page_item a:visited span.r {
	background: transparent url('../images/bg-navi-item-r.png') bottom right no-repeat;
}
div#mainmenu ul li a:hover span.c, div#mainmenu ul li a:active span.c,
div#mainmenu ul li.current_page_item a:link span.c, div#mainmenu ul li.current_page_item a:visited span.c {
	color: #e4f3f5;
	background: transparent url('../images/bg-navi-item-c.png') bottom left repeat-x;
}




