#s3slider {
	width: 630px; /* important to be same as image width */
	height: 313px; /* important to be same as image height */
	position: relative; /* important */
	overflow: hidden; /* important */
	background: #000 none;
}

#s3sliderContent {
	width: 630px; /* important to be same as image width or wider */
	position: absolute; /* important */
	top: 0; /* important */
	margin-left: 0; /* important */
}

.s3sliderImage {
	float: left; /* important */
	position: relative; /* important */
	display: none; /* important */
	width: 630px;
	height: 313px;
}

.s3sliderImage span {
	position: absolute; /* important */
	font: 10px/15px Arial, Helvetica, sans-serif;
	padding: 10px 13px;
	right: 0; bottom: 0;
	width: 90px !important;
	height: 313px;
	background-color: #000;
	filter: alpha(opacity=70); /* here you can set the opacity of box with text */
	-moz-opacity: 0.7; /* here you can set the opacity of box with text */
	-khtml-opacity: 0.7; /* here you can set the opacity of box with text */
	opacity: 0.7; /* here you can set the opacity of box with text */
	color: #fff;
	display: none; /* important */
	top: 0;
}
.s3sliderImage span a, .s3sliderImage span a:visited {
	font: bold 12px/16px Arial, Helvetica, sans-serif;
	color: #fff; text-decoration: none; 
}

.clear {
	clear: both;
} 